$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);
.footer{
    display: flex;
    flex-direction: column;
    
    padding: 3vh 3vh 0 3vh;
    background-color: #8f9cc2;
   


}

.redes {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 5vh;
    
}
.pie{
    margin: 1vh;
    display: flex;
    align-items: flex-end;
    justify-content: center;

}
.carousel{
    height: 73vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}
body{
    background-color: rgb(197, 221, 243);
}
.headproyecto{
    display: flex;
    justify-content: space-evenly;
    
}
.headequipo{
    padding: 20px;
    font-size: 2rem;
    display: flex;
    justify-content: space-evenly;

}
.txtcont{
    font-size: 2rem;
    display: flex;
    justify-content: center;
    
}
.imgcont{
    width: 100%;
    padding: 20px;
}
.chicarulos{
    width: 100%;
    padding: 20px;
}
