

//Index
.main-index{
    background-image: linear-gradient(to top, #6a85b6 0%, #bac8e0 100%);
   
    &__texto {
        font-size: 1.5rem;
        
    }
    &__txt{
        font-family: $fuente;
        text-align: center;
        font-weight: bold;
    }
    &__titulo {
        color: #fff;
        font-family: $fuente;
        @extend .textoextend;
        }
    }
.bg-color{
    background-color: map-get($map: $palette, $key: 'bg-color');
}

//Proyecto

.headproyecto {
    background-color: map-get($map: $palette, $key: 'bg-color');
    font-family: $fuente;
}
.cards{
    padding-bottom: 30px;
    &__all{
        background-color: map-get($map: $palette, $key: 'bg-cards');
        box-shadow: 1px 1px 12px 0px rgba(0,0,0,10);
    }
    &__body{
        padding: 5px;
    }
    &__title {
        @include card-title;
        text-align: center;
        color: map-get($map: $palette, $key: 'cards');
    }
    &__text{
        text-align: center;
        padding: 5px;
    }
}



//Equipo
.equipo {
    background-color: map-get($map: $palette, $key: 'bg-color');
    font-family: $fuente;
   
    
    &__titulo{
        padding-bottom: 20px;
    }

    &__img {
        height: 40vh;
        width: auto;
    }
    
    &__txt {
        font-family: $fuente;
        padding: 20px;
        font-size: 1.2rem;
    }
    &__img{
       
        height: auto;
       width: 100%;
    }
    
}
//Especialidades
.headesp {
    
    background-color: map-get($map: $palette, $key: 'bg-color');
    font-family: $fuente;
   @extend .textoextend;
    
    &__img {
        height: auto;
        width: 30%;
    }
}
.accordion{
    background-color: map-get($map: $palette, $key: 'bg-color');
    font-family: $fuente;
    padding-bottom: 10px;
    font-size: 1rem;
    &-button{
        font-size: 1.2rem;
        font-family: $fuente;
    }
}
//Contacto

.contacto {
    background-color: map-get($map: $palette, $key: 'bg-color');
    &__txt {
        font-family: $fuente;
        
    }
    &__op {
        width: 100%;
        padding: 20px;
    }
    &__datos {
        font-size: 1.2rem;
        font-family: $fuente
       
    }
}
.mapa{
    padding: 20px;
    
   
}
//Footer de todas las páginas
.footer {
    
    display: flex;
    flex-direction: column;
    width: 100%;
    bottom: 0;
    padding-top: 10px;
    background-color: map-get($map: $palette, $key: 'footer');
    &__redes {
        height: 5vh;
    }

    &__pie {
        font-size: 1.2rem;
    }
}