.footer {
  padding: 3vh 3vh 0 3vh;
  background-color: #8f9cc2; }

.redes {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 5vh; }

.pie {
  margin: 1vh;
  display: flex;
  align-items: flex-end;
  justify-content: center; }

.carousel {
  height: 73vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }

body {
  background-color: #c5ddf3; }

.headequipo {
  padding: 20px;
  font-size: 2rem;
  display: flex;
  justify-content: space-evenly; }
