* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10vh 80vh 10vh;
    grid-template-areas: 
                        "cabecera"
                        "cuerpo"
                        "piedepagina";
}
header{
    grid-area: cabecera;
    height: 10vh;
    background: rgb(6,5,41);
    background: -moz-linear-gradient(117deg, rgba(6,5,41,1) 10%, rgba(111,95,172,1) 49%, rgba(0,212,255,1) 80%);
    background: -webkit-linear-gradient(117deg, rgba(6,5,41,1) 10%, rgba(111,95,172,1) 49%, rgba(0,212,255,1) 80%);
    background: linear-gradient(117deg, rgba(6,5,41,1) 10%, rgba(111,95,172,1) 49%, rgba(0,212,255,1) 80%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#060529",endColorstr="#00d4ff",GradientType=1); 
}
main{
    grid-area: cuerpo;
    height: 80vh;
    width: 100%;
    display: flex;
    align-items: stretch;
    justify-content: center;
    background: #548CA8;
    
}
footer{
    grid-area: piedepagina;
    height: 10vh;
    background: #827397;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}
.enlace {
    position: absolute;
    padding: 20px 50px;
}
.logo {
    height: 40px;
}
nav ul {
    float: right;
    margin-right: 20px;
}
nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a {
    color: black;
    font-size: 18px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}
li a.active,
li a:hover {
    background: #548CA8;
    transition: .5s;
}
.checkbtn {
    font-size: 30px;
    color: #334257;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check {
    display: none;
}
section {
    font-size: 2rem;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background: #548CA8;
    width: 100%;
}
.fondoindex {
    height: auto;
    width: 60%;
}
/*proyecto y equipo*/
.gridareaproyecto,
.gridareaequipo {
   
    background: #548CA8;
}
.imgproyecto,
.imgequipo {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 2rem;
}

.nuestroequipodesk{
    display: none;
}
.txtproyecto,
.txtequipo {
   
    padding: 10px 10px;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 1.2rem;
    font-family: 'Quattrocento', serif;
}
.footer{
    background: #495371;
    display: flex;
    
    justify-content: space-evenly;

}
.redes {
    height: 5vh;
    margin-top: 1rem;
}

/*contacto*/
.maincont {
    
    background: #548CA8;
}
.imgcont {
    height: 30vh;
    padding: 20px;
}
.txtcont {
    font-size: 4rem;
    
}
.turnos {  
    margin: 20px;
    color: black;
   
}

.chicarulos {
    padding: 20px;
}

/*responsiveresponsiveresponsive       para movil*/
@media only screen and (max-width: 760px) {
    .checkbtn {
        display: block;
    }
    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #548CA8;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    body nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    body nav ul li a {
        display: flex;
        flex-direction: column;
        font-size: 20px;
    }
    li a:hover,
    li a.active {
        background: none;
        color: #fff;
    }
    #check:checked~ul {
        left: 0;
    }
    /*proyecto y equipo*/
   
    .nuestroequipo,
    .imgequipo,
    .imgproyecto {
       
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        font-size: 1.5rem;
    }
    .nuestroequipodesk {
        display: none;
    }
    .imgproyecto,
    .imgequipo {
       
        display: flex;
        flex-direction: column;
        padding: 20px 20px;
    }
    .txtproyecto,
    .txtequipo {
       
        font-size: 1rem;
    }
    
    /*especialidades*/
    
    
    
    .tituloesp {
        text-align: center;
        font-size: 2rem;
    }
 
    
    

    /*contacto*/
    
    .txtcont {
        font-size: 2rem;
    }
    .turnos {
        font-size: 1rem;
    }
    .slide {
        display: none;
    }
    .imgcont {
        height: 20vh;
        display: flex;
        justify-content: center;
    }
    
}
/*responsive responsive para tablet*/
@media only screen and (min-width: 761px) and (max-width: 991px) {
    .enlace {
        padding-left: 20px;
    }
    nav ul li a {
        font-size: 16px;
    }
    /*proyecto y equipo*/
    .txtequipo .txtproyecto {   
        font-size: 1.5rem;
        height: auto;
    }
    .imgequipo,
    .imgproyecto,
    .nuestroequipo { 
        display: flex;
        height: auto;
        width: 80%;
        align-items: center;
        justify-content: center;
        font-size: 2rem;
        padding: 2rem;

    }
    .nuestroequipo {
        display: flex;
        justify-content: center;
    }
    .nuestroequipodesk {
        display: none;
    }
    
    .footerproyecto{
        height: 49vh;
    }
    /*especialidades*/
    .tituloesp {
        font-size: 2rem;
    }
    .esp1,
    .esp2,
    .esp3,
    .esp4,
    .esp5,
    .esp6 {
        font-size: 1rem;
    }
    .redes {
        height: 5vh;
    }
}
/* responsive para escritorio*/
@media only screen and (min-width: 992px) {

    /*proyecto y equipo*/
  
    .imgproyecto,
    .imgequipo {
        
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: 1rem 1rem;
    }

    .nuestroequipo,
    .txtequipo {
       
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 2rem;
    }

    .nuestroequipodesk {
        display: none;
    }

    .txtproyecto,
    .txtequipo {
        font-size: 1.5rem;
    }

}