* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10vh 80vh 10vh;
    grid-template-areas: 
                        "cabecera"
                        "cuerpo"
                        "piedepagina";
}
header{
    grid-area: cabecera;
    height: 10vh;
    background: rgb(6,5,41);
    background: -moz-linear-gradient(117deg, rgba(6,5,41,1) 10%, rgba(111,95,172,1) 49%, rgba(0,212,255,1) 80%);
    background: -webkit-linear-gradient(117deg, rgba(6,5,41,1) 10%, rgba(111,95,172,1) 49%, rgba(0,212,255,1) 80%);
    background: linear-gradient(117deg, rgba(6,5,41,1) 10%, rgba(111,95,172,1) 49%, rgba(0,212,255,1) 80%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#060529",endColorstr="#00d4ff",GradientType=1); 
}
main{
    grid-area: cuerpo;
    height: 80vh;
    width: 100%;
    display: flex;
    align-items: stretch;
    justify-content: center;
    
}
footer{
    grid-area: piedepagina;
    height: 10vh;
    background: #827397;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}
.enlace {
    position: absolute;
    padding: 20px 50px;
}
.logo {
    height: 40px;
}
nav ul {
    float: right;
    margin-right: 20px;
}
nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a {
    color: black;
    font-size: 18px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}
li a.active,
li a:hover {
    background: #548CA8;
    transition: .5s;
}
.checkbtn {
    font-size: 30px;
    color: #334257;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check {
    display: none;
}
section {
    text-align: center;
    font-family: 'Quattrocento', serif;
    
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background: #548CA8;
    width: 100%;
}
.fondoindex {
    height: auto;
    width: 60%;
}
/*proyecto y equipo*/
.gridareaproyecto,
.gridareaequipo {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.6fr;
    grid-template-areas:
    "img"
    "txt";
    background: #548CA8;
}
.imgproyecto,
.imgequipo {
    grid-area: img;
    display: flex;
    align-items: flex-start;
}
.nuestroequipo {
    display: none;
}
.txtproyecto,
.txtequipo {
    grid-area: txt;
    padding: 10px 10px;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 1.2rem;
    font-family: 'Quattrocento', serif;
}
.footer{
    background: #495371;
    display: flex;
    
    justify-content: space-evenly;

}
.redes {
    height: 5vh;
    margin-top: 1rem;
}


/*Especialidades*/
.gridareaesp {
    height: 80vh;
    width: 100%;
    background: #548CA8;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 1fr 1fr;
    grid-template-areas:
        "head1 head2 head2"
        "esp1 esp2 esp3"
        "esp4 esp5 esp6";
    grid-column-gap: 20px;
    grid-row-gap: 10px;
}
.tituloesp {
    margin: 30px;
    grid-area: head2;
    color: black;
    font-family: 'Quattrocento', serif;
    font-size: 4rem;
    height: auto;
    width: 80%;
}
.imgesp {
    display: flex;
    grid-area: head1;
    justify-content: center;
    align-items: flex-end;
    margin: 20px;
}
.esp1 {
    grid-area: esp1;
    font-size: 1.2rem;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 10px;
}
.esp2 {
    grid-area: esp2;
    font-size: 1.2rem;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 10px;
}
.esp3 {
    grid-area: esp3;
    font-size: 1.2rem;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 10px;
}
.esp4 {
    grid-area: esp4;
    font-size: 1.2rem;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 10px;
}
.esp5 {
    grid-area: esp5;
    font-size: 1.2rem;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 10px;
}
.esp6 {
    grid-area: esp6;
    font-size: 1.2rem;
    color: blackE;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 10px;
}
/*contacto*/
.maincont {
    width: 100%;
    display: grid;
    grid-template-columns: 1.5fr 1fr 1.5fr;
    grid-template-rows: 0.2fr 0.5fr;
    grid-template-areas:
        "headc1 headc2 slide"
        "txtc1 txtc1 slide";
    background: #548CA8;
}
.imgcont {
    grid-area: headc1;
    width: auto;
    height: auto;
    display: flex;
    padding: 20px;
    justify-content: center;
}
.txtcont {
    grid-area: headc2;
    font-size: 4rem;
    display: flex;
    color: black;
    align-items: center;
    justify-content: center;
}
.turnos {
    grid-area: txtc1;
    display: flex;
    flex-direction: column;
    margin: 20px;
    color: black;
    box-sizing: border-box;
}
.slide {
    grid-area: slide;
    display: flex;
    justify-content: center;
}
.chicarulos {
    height: 80%;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem;
}

/*responsiveresponsiveresponsive       para movil*/
@media only screen and (min-width: 300px) and (max-width: 760px) {
    .checkbtn {
        display: block;
    }
    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #548CA8;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    body nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    body nav ul li a {
        display: flex;
        flex-direction: column;
        font-size: 20px;
    }
    li a:hover,
    li a.active {
        background: none;
        color: #fff;
    }
    #check:checked~ul {
        left: 0;
    }
    /*proyecto y equipo*/
    .gridareaproyecto,
    .gridareaequipo {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 0.6fr;
        grid-template-areas:
            "img"
            "txt";
    }
    .nuestroequipo,
    .imgequipo,
    .imgproyecto {
        grid-area: img;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        font-size: 1.5rem;
    }
    .nuestroequipodesk {
        display: none;
    }
    .imgproyecto,
    .imgequipo {
        grid-area: img;
        display: flex;
        flex-direction: column;
        padding: 20px 20px;
    }
    .txtproyecto,
    .txtequipo {
        grid-area: txt;
        font-size: 1rem;
    }
    
    /*especialidades*/
    
    } 
    .gridareaesp {
        
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.2fr 0.5fr 0.2fr 0.2fr 0.2fr 0.2fr 0.2fr;
        grid-template-areas:
            "head1"
            "head2"
            "esp1"
            "esp2"
            "esp3"
            "esp4"
            "esp5"
            "esp6";
            
            height: 141vh;
    }
    
    .tituloesp {
        text-align: center;
        font-size: 2rem;
    }
    .esp1,
    .esp2,
    .esp3,
    .esp4,
    .esp5,
    .esp6 {
        font-size: 1rem;
    }
    .imgesp {
        display: flex;
        justify-content: center;
    }
    

    /*contacto*/
    .maincont {
        height: auto;
        grid-template-columns: 1fr;
        grid-template-rows: 0.4fr 0.2fr 0.8fr;
        grid-template-areas:
            "headc1"
            "headc2"
            "txtc1";
    }
    .txtcont {
        font-size: 2rem;
    }
    .turnos {
        font-size: 1rem;
    }
    .slide {
        display: none;
    }
    .imgcont {
        height: 20vh;
        display: flex;
        justify-content: center;
    }
    

/*responsive responsive para tablet*/
@media only screen and (min-width: 761px) and (max-width: 991px) {
    .enlace {
        padding-left: 20px;
    }
    nav ul li a {
        font-size: 16px;
    }
    /*proyecto y equipo*/
    .gridareaproyecto,
    .gridareaequipo {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 0.6fr;
        grid-template-areas:
            "img"
            "txt";
    }
    .txtequipo .txtproyecto {
        grid-area: txt;
        font-size: 1.5rem;
        height: auto;
    }
    .imgequipo,
    .imgproyecto,
    .nuestroequipo {
        grid-area: img;
        display: flex;
        height: auto;
        width: 80%;
        align-items: center;
        justify-content: center;
        font-size: 2rem;
        padding: 2rem;

    }
    .nuestroequipo {
        display: flex;
        justify-content: center;
    }
    .nuestroequipodesk {
        display: none;
    }
    
    .footerproyecto{
        height: 49vh;
    }
    /*especialidades*/
    .tituloesp {
        font-size: 2rem;
    }
    .esp1,
    .esp2,
    .esp3,
    .esp4,
    .esp5,
    .esp6 {
        font-size: 1rem;
    }
    /*contactos*/
    .slide {
        display: none;
    }
    .redes {
        height: 5vh;
    }

}

/* responsive para escritorio*/
@media only screen and (min-width: 992px) {

    /*proyecto y equipo*/
    .gridareaproyecto,
    .gridareaequipo {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
            "img"
            "txt";
    }

    .imgproyecto,
    .imgequipo {
        grid-area: img;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: 1rem 1rem;
    }

    .nuestroequipo,
    .txtequipo {
        grid-area: txt;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 2rem;
    }

    .nuestroequipodesk {
        display: none;
    }

    .txtproyecto,
    .txtequipo {
        font-size: 1.5rem;
    }

    /*contacto*/
    .slide {
        padding-top: 2rem;
    }

}